div {
    margin: 10px;
}

/* Box model examples */
.box1 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid rgb(131, 13, 13);
    margin: 15px;
    background-color: rgb(7, 78, 102);
}

.box2 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid rgb(133, 38, 38);
    margin: 15px;
    background-color: rgb(3, 89, 3);
    box-sizing: border-box;
}

.box3 {
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 3px solid purple;
    margin: 20px;
    background-color: rgb(202, 14, 45);
}

/* Display properties */
.block {
    display: block;
    background: lightgray;
}

.inline {
    display: inline;
    background: rgb(89, 89, 13);
}

.inlineBlock {
    display: inline-block;
    width: 120px;
    background: rgb(133, 88, 5);
}

/* Visibility vs display */
.hidden {
    visibility: hidden;
}

.none {
    display: none;
}